body {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #6610f2;
}

.img-fluid {
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.bg-dark {
  height: 250px;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.nav-item {
  margin-inline: 2.4em;
  background-color: #6610f2;
}

.container {
  margin-top: 2em;
}

.form-control {
  background-color: transparent;
}

span {
  color: red;
}

.nav-link {
  color: aquamarine !important;
}
